.Blog {
  background: rgb(34, 33, 33);
  width: max-content;
  cursor: pointer;
  border-radius: 20px;
}

.blog-thumbnail {
  height: 250px;
  width: 409px;
  border-top-left-radius: 10px;
}

.d-flex {
  display: flex;
}

.title {
  padding: 10px;
  font-size: 22px;
  color: white;
  font-family: "Jetbrains Mono";
  text-align: center;
}

.last-keyword {
  display: block;
  text-align: center;
  font-size: 1.2em;
}

.t-center {
  text-align: center;
}

.blog-title {
  width: 100%;
  margin-top: 10px;
}

.description {
  padding: 10px 0;
  color: white;
  margin-left: 6px;
}
